<!DOCTYPE html>

<head>
  <title>Python to Rust Converter</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='py.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='p2r.jpeg') }}" class="icon" />
  <h3>Enter Python code</h3>
  <form action="/" method="post">

    <textarea rows="10" cols="50" name="code" spellcheck="false">
    </textarea>

    <!-- <input type="text" name="code" placeholder="Enter Python code" required /> -->



    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <textarea rows="10" cols="50" name="code" spellcheck="false">
    {{ result }}
  </textarea>
  <!-- <div class="result">{{ result }}</div> -->
  {% endif %}
</body>