<!DOCTYPE html>

<head>
  <title>Python to Rust Converter</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='py.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='p2r.jpeg') }}" class="icon" />
  <h3>Enter Python code</h3>

  <div style="display: flex; width:50%;">
    <form action="/" method="post">

      <textarea rows="10" cols="50" name="code" spellcheck="false"></textarea>

      <input type="submit" value="Generate code" />

    </form>


    <form>
      {% if result %}
      <textarea rows="10" cols="50" name="result" spellcheck="false">{{ result }}</textarea>
      {% endif %}
    </form>

  </div>

</body>